body {
    background-color: #b5007c;
    background-image: url(../images/advanced-vision-iberia.png);
    background-repeat: no-repeat;
    font-size: 16px;
    color: white;
    background-size: 18%;
    background-position-x: 17px;
    background-position-y: -25px;
}

label {
    font-size: 16px;
    color: white;
}

.window-content {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 500px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.window-content #page1 {
    padding-bottom: 20%;
}

.window-content.hidden {
    display: none;
}

.window-content h1,h2,h3,h4,h5,h6 {
    margin: 0
}

.window-content p {
	margin-top: 0
}

.window-content .select-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    margin: 15px 0;
}

.window-content .select-input .xls-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-content .select-input .xls-input-container .custom-file-upload {
    display: flex;
    align-items: center;
    border: 1px solid #b5007c;
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.75);
}

.window-content .select-input .xls-input-container .custom-file-upload:hover {
    background-color: #b5007c;
}

.window-content .select-input .xls-input-container .custom-file-upload img {
    height: 35px;
    margin-right: 10px;
}

.window-content .select-input .xls-input-container .custom-file-upload span {
    cursor: pointer;
}

.window-content .select-input .xls-input-container input {
    display: none;
}

.window-content .select-input .xls-input-container .file-name-span {
    margin-left: 10px;
}

.window-content .select-input .error-message {
    color: red;
    background-color: white;
    padding: 5px 20px;
    font-size: 17px;
    margin-top: 15px;
    border-radius: 2%;
    text-align: center;
    display: none;
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, 0.75);
}

.window-content .info-box {
    box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
}

.window-content .numero-productos {
    background-color: #30a542;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .numero-caducados {
    background-color: #ea3b3b;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .numero-apunto-caducar {
    background-color: #daba3b;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.window-content .button-container button {
    width: 45%;
    cursor: pointer;
}

.window-content .bar-code-title {
    height: 10%;
    min-height: 100px;
    width: 80%;
    padding-top: 75px;
    text-align: center;
}

.window-content .bar-code-title h1 {
    display: flex;
    justify-content: center;
}

.window-content .bar-code-title h1 img {
    margin-left: 10px;
}

.window-content .bar-code-selector {
    height: 25%;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.window-content .bar-code-selector .bar-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: black;
}

.window-content .bar-code-selector .message-box-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.window-content .bar-code-selector .message-box-container .message-box {
    background-color: #b5007c;
    width: 85%;
    height: 50%;
    text-align: center;
    line-height: 3;
    border-radius: 2%;
    box-shadow: 1px 1px 20px -6px rgba(0, 0, 0, 0.75);
 }

 .window-content .bar-code-selector .message-box-container .message-box.about-to-expire {
    background-image: linear-gradient(to bottom,#fece72 0,#fcaa0e 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.expired {
    background-image: linear-gradient(to bottom,#fc605b 0,#fb1710 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.correct {
    background-image: linear-gradient(to bottom,#34c84a 0,#248b34 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.not-found {
    background-color: #ddd;
 }


.window-content .info-container {
    height: 65%;
    width: 100%;
    min-height: 300px;
}

.window-content .info-container .info-box{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
}

.window-content .info-container .info-box .product-info-div{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-bottom: 20px;
}

.window-content .info-container .info-box .product-info-div label{
    width: 25%;
}

.window-content .info-container .info-box .product-info-div input{
    color: black;
    width: 75%;
}

.window-content.last-page {
    align-items: left;
}

.window-content.last-page h1 {
    width: 100%;
    text-align: center;
}

.window-content.last-page p {
    text-align: left;
}

.window-content.last-page h1, p {
    padding: 0 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20%;
}

footer.toolbar {
    background-image: linear-gradient(to bottom,#e8e6e8 0,#fdd0d8 100%);
}

footer .toolbar-actions button {
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

footer .toolbar-actions button.btn-primary {
    border-color: #d366b1 #b5007c #b5007c;
    background-image: linear-gradient(to bottom,#d366b1 0,#b5007c 100%);
}