body {
	background-color: #b5007c;
	font-size: 15px;
    color: white;
}

.window-content {
	position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 500px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    background-color: rgba(247, 244, 244, 0.4);
}

.window-content #page1 {
    padding-bottom: 20%;
}

.window-content.hidden {
    display: none;
}

.window-content h1,h2,h3,h4,h5,h6 {
	margin: 0
}

.window-content p {
	margin-top: 0
}

.window-content .select-input {
	width: 400px;
	margin: 15px 0;
	cursor: pointer;
}

.window-content .select-input .error-message {
    color: red;
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 2%;
    text-align: center;
    display: none;
}

.window-content .numero-productos {
    background-color: #34c84a;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .numero-caducados {
    background-color: red;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .numero-apunto-caducar {
    background-color: #ffcc00;
    padding: 20px;
    margin-bottom: 20px;
}

.window-content .button-container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

.window-content .button-container button {
	width: 45%;
	cursor: pointer;
}

.window-content .bar-code-selector {
    height: 30%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.window-content .bar-code-selector .bar-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: black;
}

.window-content .bar-code-selector .message-box-container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.window-content .bar-code-selector .message-box-container .message-box {
    background-color: black;
    width: 75%;
    height: 50%;
    text-align: center;
    line-height: 3;
    border-radius: 2%;
 }

 .window-content .bar-code-selector .message-box-container .message-box.about-to-expire {
    background-image: linear-gradient(to bottom,#fece72 0,#fcaa0e 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.expired {
    background-image: linear-gradient(to bottom,#fc605b 0,#fb1710 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.correct {
    background-image: linear-gradient(to bottom,#34c84a 0,#248b34 100%);
 }

 .window-content .bar-code-selector .message-box-container .message-box.not-found {
    background-color: #ddd;
 }


.window-content .info-container {
    height: 70%;
    width: 100%;
    min-height: 300px;
}

.window-content .info-container .info-box{
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    min-height: 300px;
    padding: 20px;
}

.window-content .info-container .info-box .product-info-div{
    display: flex;
    flex-direction: row;
    width: 700px;
    margin-bottom: 20px;
}

.window-content .info-container .info-box .product-info-div label{
    width: 25%;
}

.window-content .info-container .info-box .product-info-div input{
    color: black;
    width: 75%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 20%;
}

footer.toolbar {
    background-image: linear-gradient(to bottom,#e8e6e8 0,#fdd0d8 100%);
}

footer .toolbar-actions button {
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}